In [ ]:
%load_ext autoreload
%autoreload 2
import sys
extra_path = "/Users/iraklis/Public/iraklis7_linrg" # whatever individual directory it is
if extra_path not in sys.path:
    sys.path.append(extra_path)

:

In [ ]:
from pathlib import Path
#import pandas as pd
import matplotlib.pyplot as plt
import iraklis7_linrg.config as config

:

### Load the data

In [ ]:
input_path: Path = config.RAW_DATA_DIR / config.DATASET
plot_path: Path = config.FIGURES_DIR / config.INITIAL_PLOT

data = config.read_data(input_path)
if data is None:
    raise ValueError("read_data failed - data is None")

### Inspect the data

In [22]:
data.sample(10)

,Κωδικός Συστήματος,Εμβαδόν,Όροφος,Σύνολο ορόφων,Ασανσέρ,Θέα,Έτος κατασκευής,Έτος ανακαίνισης,Τιμή,Αρχική Τιμή
53,19071090,140,7.0,NaN,1,1.0,1974.0,NaN,540000,NaN
31,17749281,160,1.0,NaN,1,NaN,1980.0,NaN,490000,NaN
52,18711017,157,3.0,5.0,1,NaN,1980.0,NaN,318000,NaN
51,17777087,115,7.0,NaN,1,1.0,1966.0,2025.0,490000,NaN
81,18628299,115,2.0,8.0,1,1.0,1963.0,NaN,380000,NaN
49,18609417,146,3.0,NaN,1,0.0,1979.0,NaN,270000,NaN
29,19062454,125,3.0,6.0,1,1.0,1986.0,NaN,187000,NaN
119,17389167,105,6.0,NaN,1,NaN,2024.0,NaN,365000,NaN
114,18473932,120,NaN,NaN,0,0.0,1972.0,NaN,285000,NaN
70,19062113,160,7.0,NaN,1,1.0,1970.0,2005.0,350000,NaN

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Κωδικός Συστήματος  121 non-null    int64
 1   Εμβαδόν             121 non-null    int64
 2   Όροφος              116 non-null    float64
 3   Σύνολο ορόφων       66 non-null     float64
 4   Ασανσέρ             121 non-null    int64
 5   Θέα                 107 non-null    float64
 6   Έτος κατασκευής     118 non-null    float64
 7   Έτος ανακαίνισης    38 non-null     float64
 8   Τιμή                121 non-null    int64
 9   Αρχική Τιμή         3 non-null      float64
dtypes: float64(6), int64(4)
memory usage: 9.6 KB

In [24]:
data.isna().sum()

Κωδικός Συστήματος      0
Εμβαδόν                 0
Όροφος                  5
Σύνολο ορόφων          55
Ασανσέρ                 0
Θέα                    14
Έτος κατασκευής         3
Έτος ανακαίνισης       83
Τιμή                    0
Αρχική Τιμή           118
dtype: int64

In [25]:
data.select_dtypes('object')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[121 rows x 0 columns]

In [26]:
data.select_dtypes('number')

,Κωδικός Συστήματος,Εμβαδόν,Όροφος,Σύνολο ορόφων,Ασανσέρ,Θέα,Έτος κατασκευής,Έτος ανακαίνισης,Τιμή,Αρχική Τιμή
0,18055522,130,1.0,4.0,1,1.0,1988.0,2022.0,245000,NaN
1,17845458,104,2.0,NaN,1,1.0,1978.0,NaN,171000,179000.0
2,18396501,132,7.0,7.0,1,1.0,1976.0,2000.0,400000,NaN
3,18652593,117,6.0,NaN,1,1.0,2024.0,NaN,370000,NaN
4,18433163,105,5.0,7.0,1,1.0,1972.0,NaN,229000,NaN
...,...,...,...,...,...,...,...,...,...,...
116,17182830,106,2.0,2.0,0,0.0,1992.0,NaN,200000,NaN
117,19067951,117,2.0,NaN,1,0.0,1977.0,2020.0,285000,NaN
118,16716686,117,6.0,NaN,1,1.0,2024.0,NaN,320000,NaN
119,17389167,105,6.0,NaN,1,NaN,2024.0,NaN,365000,NaN
120,18765041,170,5.0,NaN,1,1.0,2023.0,NaN,440000,NaN

In [30]:
data.describe()

,Κωδικός Συστήματος,Εμβαδόν,Όροφος,Σύνολο ορόφων,Ασανσέρ,Θέα,Έτος κατασκευής,Έτος ανακαίνισης,Τιμή,Αρχική Τιμή
count,1.210000e+02,121.000000,116.000000,66.000000,121.000000,107.000000,118.00000,38.000000,121.000000,3.000000
mean,1.819868e+07,122.479339,3.758621,5.090909,0.876033,0.822430,1982.79661,2017.684211,323793.388430,316333.333333
std,8.477865e+05,27.703219,2.120790,1.786507,0.330914,0.383949,21.40595,11.130929,134560.142523,127162.625536
min,1.375765e+07,100.000000,1.000000,2.000000,0.000000,0.000000,1929.00000,1980.000000,110000.000000,179000.000000
25%,1.778044e+07,105.000000,2.000000,4.000000,1.000000,1.000000,1969.25000,2015.750000,230000.000000,259500.000000
50%,1.843669e+07,115.000000,4.000000,5.000000,1.000000,1.000000,1978.00000,2022.500000,295000.000000,340000.000000
75%,1.874946e+07,127.000000,5.000000,6.000000,1.000000,1.000000,1992.75000,2025.000000,390000.000000,385000.000000
max,1.907109e+07,310.000000,8.000000,9.000000,1.000000,1.000000,2025.00000,2025.000000,850000.000000,430000.000000

In [ ]:
data_s = data.drop['Κωδικός Συστήματος', 'Αρχική Τιμή']
data_s.hist(figsize=(10,10),edgecolor="black")
plt.show()